/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');


/* CSS code*/

body {
	background: linear-gradient(to left, #285696, #143666);
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.main {
    padding-left: 10px;
    position: absolute;
    align-items: center;
    justify-content: center;
}