/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');


/* CSS code*/

body {
	background: #3b4d81;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #e2e2e2;
}

.main {
	margin: auto;
	padding: 35px;
}