/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');


/* CSS code*/

body {
	background-color: #333333;
}

.main {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}